<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dark Blue Redux</title>

    <!-- Scripts -->
    <script src="js/angular.js"></script>
    <script src="js/vote-app.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/game.js"></script>
    <script src="js/game_levels.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
  <img class="pull-xs-left" width="170" height="162" src="https://cloud.githubusercontent.com/assets/7908723/19448664/ac66dcbe-9457-11e6-942d-694b687f0aa0.gif">
  <img class="m-x-auto d-block" src="img/dark-blue-redux-title.png">
    <div class="container-fluid">
      <div class="row">
        <div class="viewport col-md-8 col-md-offset-2">
            <script>
              runGame(GAME_LEVELS, DOMDisplay);
            </script>
        </div>
      </div>
    </div>
    <container class="container" ng-app="voteApp">
      <container ng-controller="voteCtrl">
      <div class="row">
        <div class="col-xs-4">
          <h1 class="bg-inverse d-inline h1">&nbsp;&nbsp;MAP&nbsp; VOTING&nbsp;&nbsp;</h1>
        </div>
        <div class="col-xs-8">
          <button type="button" class="btn btn-secondary"><a ng-click="postVotes()" href=""><i class="fa fa-cube"></i> Save</a></button>
        </div>
      </div>
        <div class="row">
          <!---- card 1 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="img-fluid card-img-top" src="img/level-aa-001.png" width="315" alt="Map 1">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: {{getVotes(1)}}</span>
                <h4 class="card-title">{{getMapTitle(1)}}</h4>
                <div class="text-block text-xs-center">
                  <a href="" ng-click="downvote(1)" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" ng-click="upvote(1)" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 1 end ---->

          <!---- card 2 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="img-fluid card-img-top" src="img/level-aa-002.png" width="315" alt="Map 2">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: {{getVotes(2)}}</span>
                <h4 class="card-title">{{getMapTitle(2)}}</h4>
                <div class="text-block text-xs-center">
                  <a href="" ng-click="downvote(2)" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" ng-click="upvote(2)" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 2 end ---->
        </div> 
        <div class="row">
          <!---- card 3 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="img-fluid card-img-top" src="img/level-aa-003.png" width="315" alt="Map 3">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: {{getVotes(3)}}</span>
                <h4 class="card-title">{{getMapTitle(3)}}</h4>
                <div class="text-block text-xs-center">
                  <a href="" ng-click="downvote(3)" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" ng-click="upvote(3)" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 3 end ---->

          <!---- card 4 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="img-fluid card-img-top" src="img/level-aa-004.png" width="315" alt="Map 4">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: {{getVotes(4)}}</span>
                <h4 class="card-title">{{getMapTitle(4)}}</h4>
                <div class="text-block text-xs-center">
                  <a href="" ng-click="downvote(4)" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" ng-click="upvote(4)" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 4 end ---->
        </div> 
        </container>
      </container>
  </body>
</html>