<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dark Blue Redux</title>

    <!-- Scripts -->
    <script src="js/angular.js"></script>
    <script src="js/vote-app.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/game.js"></script>
    <script src="js/game_levels.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="viewport col-md-8 col-md-offset-2">
            <script>
              runGame(GAME_LEVELS, DOMDisplay);
            </script>
        </div>
      </div>
    </div>
    <container class="container" ng-app="voteApp">
      <container ng-controller="voteCtrl">
      <h2 class="h2">Map Voting</h2>
        <div class="row">
          <!---- card 1 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="card-img-top" src="img/level-aa-001.png" width="315" alt="Map 1">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: {{getVotes(1)}}</span>
                <h4 class="card-title">Map 1</h4>
                <div class="text-block text-xs-center">
                  <a href="" ng-click="downvote(1)" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" ng-click="upvote(1)" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 1 end ---->

          <!---- card 2 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="card-img-top" src="img/level-aa-002.png" width="315" alt="Map 2">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: {{getVotes(2)}}</span>
                <h4 class="card-title">Map 2</h4>
                <div class="text-block text-xs-center">
                  <a href="" ng-click="downvote(2)" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" ng-click="upvote(2)" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 2 end ---->
        </div> 
        <div class="row">
          <!---- card 3 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="card-img-top" src="img/level-aa-003.png" width="315" alt="Map 3">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: 135</span>
                <h4 class="card-title">Map 3</h4>
                <div class="text-block text-xs-center">
                  <a href="" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 3 end ---->

          <!---- card 4 -------->
          <div class="col-md-4">
            <div class="card"> 
              <img class="card-img-top" src="img/level-aa-004.png" width="315" alt="Map 4">
              <div class="card-block">
                <span class="card-text text-muted pull-xs-right">Total: 62</span>
                <h4 class="card-title">Map 4</h4>
                <div class="text-block text-xs-center">
                  <a href="" class="btn btn-warning"><i class="fa fa-arrow-down fa-1x"></i> Down Vote</a>
                  <a href="" class="btn btn-info"><i class="fa fa-arrow-up fa-1x"></i> Up Vote</a>
                </div>
              </div>
            </div>
          </div>
          <!---- card 4 end ---->
        </div> 
        </container>
      </container>
  </body>
</html>